node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/venv
__pycache__
.vite
.env

# product db sources
# raw data files and local databases
scripts/data/
scripts/databases/
server/src/seed.db