node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/venv
__pycache__
.vite
.env

# product db sources
data/chromadb/results.jsonl
data/chromadb/all_chewy_products_with_qanda.csv
data/chromadb/chroma_db
scripts/chroma_db/
server/src/seed.db
data/chromadb/all_wp_posts.json
data/chromadb/metadata_filters_cache.json
results.jsonl
all_chewy_products_with_qanda.csv
chroma_db
all_wp_posts.json
metadata_filters_cache.json

server/logs/
*/__pycache__/